[Unit]
Description=DimzBot Master
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubnt/spybot-publish/ubuntu-controller/masterwol.py
Restart=always
User=ubnt
WorkingDirectory=/home/ubnt/spybot-publish/ubuntu-controller

[Install]
WantedBy=multi-user.target
