[Unit]
Description=DimzBot Controller
After=network.target

[Service]
Type=simple
User=spybot
WorkingDirectory=/opt/spybot/ubuntu-controller
ExecStart=/opt/spybot/ubuntu-controller/.venv/bin/python /opt/spybot/ubuntu-controller/masterwol.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
